[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
jinja2 = "*"
werkzeug = "*"
wtforms = "*"
sqlalchemy = "*"
flask-caching = "*"
flask-compress = "*"
flask-login = "*"
flask-mail = "*"
flask-principal = "*"
flask-security = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.7"
