[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pylint-flask = "*"

[packages]
bcrypt = "*"
flask = "*"
flask-bootstrap = "*"
flask-caching = "*"
flask-compress = "*"
flask-login = "*"
flask-mail = "*"
flask-principal = "*"
flask-security = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
itsdangerous = "*"
jinja2 = "*"
passlib = "*"
sqlalchemy = "*"
werkzeug = "*"
wtforms = "*"
requests = "*"

[requires]
python_version = "3.7"
