{% extends "layout.html" %}
{% set active_page = "public.accomodation" %}

{% block title %}Standard Queen Room{% endblock %}
{% block content %}
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Standard Queen Room</h2>
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Hotel Accommodation</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->

<!--================ Accomodation Area  =================-->
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <div class="section_title text-center">
                <h2 class="title_color">Standard Queen Room</h2>
                <h5>$200<small>/night</small></h5>
                <br>
                <br>
                <div class="row">
                    <div class="w3-content w3-display-container">
                        <img class="mySlides" src="../static/image/standardq1.jpg" style="width: 600px" height="400">
                        <img class="mySlides" src="../static/image/standardq2.jpg" style="width: 600px" height="400">
                        <img class="mySlides" src="../static/image/standardq3.jpg" style="width: 600px" height="400">
                        <img class="mySlides" src="../static/image/standardq4.jpg" style="width: 600px" height="400">

                        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                    <script>
                        var slideIndex = 1;
                        showDivs(slideIndex);

                        function plusDivs(n) {
                            showDivs(slideIndex += n);
                        }

                        function showDivs(n) {
                            var i;
                            var x = document.getElementsByClassName("mySlides");
                            if (n > x.length) { slideIndex = 1 }
                            if (n < 1) { slideIndex = x.length }
                            for (i = 0; i < x.length; i++) {
                                x[i].style.display = "none";
                            }
                            x[slideIndex - 1].style.display = "block";
                        }
                    </script>

                    <div class="col-lg-4 col-sm-6 mt-sm-30 typo-sec">
                        <div class="col-md-9">
                            <h3 class="mb-20 title_color">Room Amenities</h3>

                            <ul class="unordered-list">
                                <li>Free Continental Breakfast</li>
                                <li>One Queen Bed</li>
                                <li>42” flat screen HDTV</li>
                                <li>Private Bathroom</li>
                                <li>Wi-Fi</li>
                                <li>Coffeemaker</li>
                                <li>Alarm clock radio with bluetooth capability</li>
                                <li>Mini Fridge</li>
                                <li>Microwave</li>
                                <li>Hair Dryer</li>
                                <li>Iron/ironing board</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="hotel_booking_area position">
                <div class="container">
                    <div class="hotel_booking_table">
                        <div class="col-md-3">
                            <h2>Book<br> Queen Room</h2>
                        </div>
                        <div class="col-md-9">

                            <form class="row contact_form" action="/booking" method="POST" id="bookingForm">
                                {{ form.csrf_token }}
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker11'>
                                            <input type='text' class="form-control" placeholder="Arrival Date" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' class="form-control" placeholder="Departure Date" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group" id='adult'>
                                    <select class="wide">
                                        <option data-display="Adults">Adult</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="input-group" id='child'>
                                    <select class="wide">
                                        <option data-display="Children">Child</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group" id='room'>
                                    <select class="wide">
                                        <option data-display="Number of Rooms">Number of Rooms
                                        </option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <button type="submit" value="submit" class="btn theme_btn button_hover">Book
                                    Now</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

</section>
<!--================ Accomodation Area  =================-->
{% endblock %}