{% extends "layout.html" %}
{% set active_page = "auth.login" %}

{% block title %}Password Change{% endblock %}
{% block content %}

<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Login</h2>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li class="active">Reset</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->

<section class="login_area" style="margin: 60px 0;">
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-9 col-md-9">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-1 col-md-1"></div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 col-lg-12 mx-auto">
                        <h3>Change Password!</h3>
                        <br />
                        <form method="POST" action="{{ url_for('auth.reset_with_token', token=token) }}">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Enter Password" required>
                                <div>
                                    {% for error in form.password.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <button type="submit" value="submit" class="genric-btn primary"
                                style="width: 100px;">Submit</button>
                        </form>
                        <br />
                        <div class="h-links">
                            <a href="{{ url_for('auth.login') }}">Login</a><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}