{% extends "layout.html" %}
{% set active_page = "public.blog" %}

{% block title %}Blog{% endblock %}
{% block content %}
<!--================Banner Area =================-->
<section class="banner_area blog_banner d_flex align-items-center">
  <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
  <div class="container">
    <div class="banner_content text-center">
      <h4>A Romantic Weekend</h4>
      <p>Ideas To Share Your Wedding Love Story</p>
      <!-- <a href="" class="btn white_btn button_hover">View More</a> -->
    </div>
  </div>
</section>
<!--================Banner Area =================-->

<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="categories_post">
          <img src="{{ url_for('static', filename='image/blog/cat-post/cat-post-3.jpg') }} " alt="post">
          <div class="categories_details">
            <div class="categories_text">
              <a href="{{ url_for('blog.get_by_tag', id=7)}}">
                <h5>Social Life</h5>
              </a>
              <div class="border_line"></div>
              <p>Enjoy your social life together</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories_post">
          <img src="{{ url_for('static', filename='image/blog/cat-post/cat-post-2.jpg') }}" alt="post">
          <div class="categories_details">
            <div class="categories_text">
              <a href="{{ url_for('blog.get_by_tag', id=8)}}">
                <h5>Business</h5>
              </a>
              <div class="border_line"></div>
              <p>Be a part of business</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories_post">
          <img src="{{ url_for('static', filename='image/blog/cat-post/cat-post-1.jpg') }}" alt="post">
          <div class="categories_details">
            <div class="categories_text">
              <a href="{{ url_for('blog.get_by_tag', id=9)}}">
                <h5>Food</h5>
              </a>
              <div class="border_line"></div>
              <p>Let the food be finished</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_left_sidebar">
          {% for post in posts.items %}
          <article class="row blog_item">
            <div class="col-md-3">
              <div class="blog_info text-right">
                <div class="post_tag">
                  {% for tag in post.tags %}
                  <a href="#">{{ tag.name }}</a>
                  {% endfor %}
                </div>
                <ul class=" blog_meta list_style">
                  <li><a href="#">{{ post.author.first_name }}, {{ post.author.last_name }}<i
                        class="lnr lnr-user"></i></a></li>
                  <li><a href="#">{{ post.publish_date.strftime('%m-%d-%Y') }}<i class="lnr lnr-calendar-full"></i></a>
                  </li>
                  <li><a href="#">{{ post.view_count }} Views<i class="lnr lnr-eye"></i></a></li>
                  <li><a href="#">{{ post.comment_count }} Comments<i class="lnr lnr-bubble"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="blog_post">
                <img src="{{ post.image_path }}" alt="">
                <div class="blog_details">
                  <a href="{{ url_for('blog.get', id=post.id) }}">
                    <h2>{{ post.title }}</h2>
                  </a>
                  <p>{{ post.summary }}</p>
                  <a href="{{ url_for('blog.get', id=post.id) }}" class="view_btn button_hover">View More</a>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
          <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
              {% if posts.has_prev %}
              <li class="page-item">
                <a href="{{ url_for('blog.index', page=posts.prev_num) }}" class="page-link" aria-label="Previous">
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-left"></span>
                  </span>
                </a>
              </li>
              {% endif %}

              {%- for page in posts.iter_pages() %}
              {% if page %}
              {% if page == posts.page %}
              <li class="page-item active">
                <a href="{{ url_for('blog.index', page=page) }}" class="page-link">{{ page }}</a>
              </li>
              {% else %}
              <li class="page-item">
                <a href="{{ url_for('blog.index', page=page) }}" class="page-link">{{ page }}</a>
              </li>
              {% endif %}
              {% endif %}
              {%- endfor %}

              {% if posts.has_next %}
              <li class="page-item">
                <a href="{{ url_for('blog.index', page=posts.next_num) }}" class="page-link" aria-label="Next">
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-right"></span>
                  </span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget author_widget">
            <img class="author_img rounded-circle" src="{{ url_for('static', filename='image/blog/author.png') }}"
              alt="">
            <h4>Charlie Barber</h4>
            <p>Senior blog writer</p>
            <div class="social_icon">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
              <a href="#"><i class="fa fa-behance"></i></a>
            </div>
            <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to
              spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Popular Posts</h3>
            {% for pop in pops %}
            <div class="media post_item">
              <img src="https://picsum.photos/100/60/?random={{range(1, 6) | random}}.jpg" alt="post">
              <div class="media-body">
                <a href="#">
                  <h3>{{ pop.title }}</h3>
                </a>
                <p>02 Hours ago</p>
              </div>
            </div>
            {% endfor %}
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget ads_widget">
            <a href="#"><img class="img-fluid" src="{{ url_for('static', filename='image/blog/add.jpg') }}" alt=""></a>
            <div class="br"></div>
          </aside>
          <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Post Catgories</h4>
            <ul class="list_style cat-list">
              {% for tag in tags %}
              <li>
                <a href="{{ url_for('blog.get_by_tag', id=tag.id)}}" class="d-flex justify-content-between">
                  <p>{{ tag.name }}</p>
                </a>
              </li>
              {% endfor %}
            </ul>
            <div class="br"></div>
          </aside>
          <aside class="single-sidebar-widget newsletter_widget">
            <h4 class="widget_title">Newsletter</h4>
            <p>
              Here, I focus on a range of items and features that we use in life without
              giving them a second thought.
            </p>
            <form action="/newsletter" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <div class="form-group d-flex flex-row">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                  </div>
                  <input type="text" name="email" class="form-control" id="inlineFormInputGroup"
                    placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                </div>
                <button type="submit" value="submit" class="bbtns">Subcribe</button>
              </div>
            </form>
            <p class="text-bottom">You can unsubscribe at any time</p>
            <div class="br"></div>
          </aside>
          <aside class="single-sidebar-widget tag_cloud_widget">
            <h4 class="widget_title">Tag Clouds</h4>
            <ul class="list_style">
              {% for tag in tags %}
              <li>
                <a href="{{ url_for('blog.get_by_tag', id=tag.id)}}">
                  <p>{{ tag.name }}</p>
                </a>
              </li>
              {% endfor %}
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Blog Area =================-->
{% endblock %}