{% extends "layout.html" %}
{% set active_page = "public.feedback" %}

{% block title %}Feedback{% endblock %}
{% block content %}
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">My Feedback</h2>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('public.index') }}">Home</a></li>
                <li class="active">Feedback</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->

<!--================ About History Area  =================-->
<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">Help Us Improve!</h2>
                    <p>We value your feedback greatly! Please help us build a better experience by leaving construcitve
                        critisim.
                        Our admins will see this and be sure to listen carefully.
                    </p>
                    <div>
                        <form class="row contact_form" action="/feedback" method="POST" id="feedbackForm">
                            {{ form.csrf_token }}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Enter your name">
                                    <div>
                                        {% for error in form.name.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Enter email address">
                                    <div>
                                        {% for error in form.email.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control id=" subject" name="subject"
                                        placeholder="Enter Subject">
                                    <div>
                                        {% for error in form.subject.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" rows="1"
                                        placeholder="Enter Feedback Message"></textarea>
                                    <div>
                                        {% for error in form.message.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" value="submit" class="btn theme_btn button_hover">Submit
                                    Feedback</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="{{ url_for('static', filename='image/feedback.jpg')}}" alt="img">
            </div>
        </div>

    </div>
</section>
<!--================ About History Area  =================-->



<!--================ Testimonial Area  =================-->
<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Feedback from our Clients</h2>
        </div>
        <div class="section-top-border">
            <h3 class="mb-30 title_color">Chris Hayward <small>- CEO Horizon Investments</small></h3>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        “I am a repeating visitor of Majesitc Hotels and have always had wonderfull experience in the
                        many times I have stayed at one of their
                        locations. It is alwyas a pleasant stay, and I would recommend choosing Majestic over anyone
                        else out there. The customer
                        service, quality, and affordability is truly second to none.”
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="section-top-border">
            <h3 class="mb-30 title_color">Diane Jones <small>- Senior Senator for New York</small></h3>
            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="generic-blockquote">
                        “It has been 15 years since my first stay with Majestic Hotels and I have been returning ever
                        since. They have provided me a confortable stay
                        regardless of the location I find myself in on any given trip. When I am on the campaign trail I
                        look forward to a good nights rest and I always have
                        peace of mind in knowing that my hotel will always been exactly what I need.”
                    </blockquote>
                </div>
            </div>
        </div>


    </div>
</section>
<!--================ Testimonial Area  =================-->
{% endblock %}